.container{
    width: 100%;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 16px;
    backdrop-filter: blur(10px);
  
    
    box-shadow: 8px 9px 32px rgba(0, 0, 0, 0.25);
    position: relative;
   overflow: hidden;
    padding: 20px;
   
   
   
}

.container::after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    background: radial-gradient(circle, rgb(107, 193, 255) 0%, rgba(9, 148, 248, 0.6) 100%);
    border-radius: inherit; /* Match the border-radius of the container */
    padding: 2px; /* Adjust this value to match the border width */
    mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    mask-composite: exclude; /* For browsers that support mask-composite */
    -webkit-mask-composite: destination-out; /* For WebKit browsers */
   
}

.container::before{
    content: '';
    position: absolute;
    background-color: transparent;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 16px;
    z-index: 10;
    border-left: 2px solid rgba(0, 0, 0, 0.8);
    border-right: 2px solid rgba(0, 0, 0, 0.8);
}

.shadowCircle{
    background-color: rgba(107, 193, 255, 1);
    width: 110px;
    height: 110px;
    border-radius: 100%;
    filter: blur(40px);
    position: absolute;
    
    right: 0;
    bottom: 0;
    transform: translate(20%, 20%);
    z-index: -1;
}

@media only screen and (min-width: 1024px) {
    .container{
        width: 45%;
        padding: 72px;
        height: 80vh;
    }
}